.heading {
  color: var(--c-feature);
}

.text {
  color: var(--c-grey);
  font-size: 16px;
  margin-bottom: 30px;
}

.tiles {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  background: var(--c-fill);

}


.tile {
  padding: 1em;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: var(--c-white);
  border: solid 1px var(--c-feature);
}


.name {
  font-size: 22px;
  color: var(--c-feature);
}

.city {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--c-grey);

}


.site {
  text-decoration: none;
  background: var(--c-feature);
  padding: 10px;
  color: var(--c-white);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.site:hover {
  cursor: pointer;
  background: var(--c-main);
  color: var(--c-grey);

}

a {
  text-decoration: none;
  color: var(--c-main);
  transition: all 0.3s ease;

}

a:hover {
  color: var(--c-main-light);
}