<div class="countdown-box">
  <p class="timer-heading">Entries close in:</p>

  <div class="timer">

    <div class="timer-contain">
      <div class="countdown-timer" id="days">{{ days }} </div>
      <div class="countdown-words">DAYS</div>
    </div>

    <div class="timer-contain">
      <div class="countdown-timer" id="hours">{{ hours }}</div>
      <div class="countdown-words">HOURS</div>
    </div>

    <div class="timer-contain">
      <div class="countdown-timer" id="minutes">{{ minutes }}</div>
      <div class="countdown-words">MINS</div>
    </div>

    <div class="timer-contain-lastnum">
      <div class="countdown-timer" id="seconds">{{ seconds }}</div>
      <div class="countdown-words">SECS</div>
    </div>

  </div>
</div>
